@model UserViewModel

@{
    ViewData["Title"] = "Delete User";
}

<h2>@ViewData["Title"]</h2>

@Html.Partial("_DetailsDeletePartialView", Model)
<div class="mt-3">
    <div class="d-flex justify-content-start gap-2">
        <form asp-action="Delete" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>

        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</div>

