@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">

		<div asp-validation-summary="All"></div>

		<form asp-action="SendEmail" method="post">


			<input class="text email" asp-for="Email" placeholder="Your Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>

			
			<input type="submit" value="Reset Password">

		</form>
	</div>
</div>
@section ValidationScriptsSection {
	<partial name="_ValidationScriptsPartial" />
}